.person-styling {
    font-size: 25px;
    font-weight: 600;
    margin-left: 17px;
}

.message-styling {
    margin-left: 17px;
    font-size: 25px;
    line-height: 0.8cm;
}

.entry-border {
    border-bottom: 1.5px solid #707070;
    margin-top: 1em;
    margin-left: -17px;
    margin-right: -17px;
    padding-left: 0;
    justify-content: center;
}

.button-styling {
    padding: 0px;
    border: 0px;
}